@use './style/fonts';
@use './style/colors';

html,
body{
  margin:0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: fonts.$rubik;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: fonts.$montserrat;
  font-weight: 300;
}

a {
  color: colors.$dogwood-rose;
  text-decoration: none;

  &:hover {
    color: darken($color: colors.$dogwood-rose, $amount: 20%);
  }
}